.EditUserForm {
  width: 300px;
  height: 450px;
  background-color: white;
  border: 1px solid #efefee;
  border-radius: 5%;
  justify-content: center;
  /* display: flex; */
}
.EditUserFormForm {
  /* background-color: greenyellow; */
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.EditUserFormPhotoButton {
  /* background-color: red; */
  width: 230px;
  height: 110px;
 
  position: relative;
  justify-content: center;;
  margin-left: auto;
  margin-right: auto;
}

.editPhotoPhoto {
  width: 100px;
  height: 100px;
  border-radius: 50%; 
  margin-top: 30px;
  margin-left: 60px;
  margin-right:auto;
}
.editPhotoPhotoOverlay {
  background-color: black;
  opacity: 0;
  justify-content: center;

  width: 100px;
  height: 100px;
  border-radius: 50%;  
  position: absolute;
  display: flex;
  margin-top: -102px;
  margin-left: 60px;

  margin-right:auto;
  z-index: 4;
}
.editPhotoPhotoOverlay:hover {
  opacity: .4;
}
.editPhotoPhotoOverlay input {
  width: 100px;
  height: 100px;
  z-index: 6;

  opacity: 0;
  border-radius: 50%;  
}
.editPhotoPhotoOverlay p {
  z-index: 5;
  position: absolute;
  top: 30px;
  left:20px
}
.editPhotoPhotoOverlay:hover p {
  color: white;
  opacity: 1;
}
.EditSection {
  margin-top: 30px
}
.EditUserFormTitle {
  display: flex;
  justify-content: center;

}


.EditSubmit {
  margin-top: 100px;
}