/* .navbar{
  height: 75px;
  width: 100%;
  background-color: red;
} */
.unused{
}
.navbar{
  height: 52px;
  background-color: white;
  border: 1px solid #e6e6e6;
  position: fixed;
  width: 100%;
  top: 0;
}
.Icon{
  margin-top: 5px;
  max-width: 30px;
}
.navbar-util{
  height: inherit;

  border-bottom: none;
  border-top: none;
  max-width: 1010px;
  margin-left: auto;
  margin-right: auto;

}

.navbar-left{
  display: block;
  
  align-items: center;
  height: inherit;
  float: left;
  justify-content: left;
  display: flex;
  margin-left: 10px;
}
.daLink{
  color: #262626;
  text-decoration: none;
}

.nav-search{
  float: center;
  justify-content: center;
  justify-content: space-between;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.navbar-right{
  float: right;
  justify-content: right;
  display: flex;
  margin-right: 10px;
}


.navbar-left p{
  font-family: 'Cookie', cursive;
  font-size: 28px;
  text-align: center;
  padding-left: 15px;
  border-left: 1px solid black;
  justify-content: center
  

}
.navbar-left img{
  padding-right: 8px;
}
.daLink i::before {
  margin-right: 15px;
  font-size: 30px;
}