
.photoInIndex{
  width: 616px;
  max-height: 1064px;
  border: 1px solid #e6e6e6;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
}

.photoUpperIndexContent{
  width: 614px;
  height: 60px;
  display: flex;
  
}

.ActualPhoto{
  /* justify-content: center; */
  align-content: center;
  width: 614px;
  height: 614px;
  border-bottom: 1px solid #e6e6e6;
  border: 1px solid #e6e6e6;;
}
.ActualPhoto img{
  width: 614px;
  height: 614px;
}



.postName{

  margin-left: 16px;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 600;
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  padding-left: 5px;
  margin-left: -5px;
  color: #262626;
  margin-left: 16px;
  text-decoration: none;
}
.extraDetailName{
  text-decoration: none;
  color: #262626;
  margin-left: 16px;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 600;
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  padding-left: 5px;
  margin-left: -5px;
  color: #262626;
  text-decoration: none;
}

.pfp{
  justify-content: center;
}
.pfp img{
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-left: 10px;
  margin-top: 14px;
  margin-bottom: auto;
}
.photoLowerIndexContent{
  min-height: 170px;
  padding-left: 16px;
  padding-right: 16px;
}
.likes-and-count {
  width: 584px;
  height: 67px;
}
.likes-and-count p{
  margin-top: -10px;
  z-index: 1px;
}
.GreaterCommentSection {
  height: 82px;
}
.post-options{
  width: 100%;
  height: 40px;
  margin-top: 4px;
}
.commentSection{
  max-height: 20px;
  width: 100%;
}

.commentCaption{
  height: 20px;

}
.commentCaption a{
  
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 600;
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
 
  color: #262626;
  text-decoration: none;
  max-height: 20px;
}
.commentCaption p{

  display:inline-block;
  margin-left: 5px;
}
.commentLink {
  color: #999999

}
.commentLink p {
  font-size: 14px;
  font-weight: 600;

}

.post-show-like{
  height: 35px;
  width: 35px;
  cursor: pointer;
  
}

.likeZone{
  padding-left: 16px;
  padding-right: 16px;
}
.likeCount{
  width: 100%;
  padding-left: 16px;
}

.likeCount p{
  height: 20px;
}
.Like-Button {
  display: flex;
  flex-wrap: wrap;
}

.Like-Button svg{
  height: 36px;
}
.Comment-Button {
  font-size: 30px;
  text-decoration: none;
  color: black;
  margin-top: -3px;
  
}
.Comment-Button img {
  margin-top: 0px;
  height: 50px;
}
.heartDiv{
  margin-top: 5px;
}
.commentAdd {
  /* margin-top: 20px;
  height: 20px;
  bottom: 5px; */
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 1px solid #efefef;
    margin-top: 4px;
    height: 18px;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.commentAdd input {

    background: 0 0;
    border: 0;
    color: #262626;
    font-size: inherit;
    height: 18px;
    max-height: 80px;
    outline: 0;
    padding: 0;
    resize: none;
    
}
.commentAdd button {
  border: 0;
  color: #3897f0;
  display: inline; 
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.addComments{
  height: 20px;
  bottom: 5px;
}
.addComment{
  outline: none;
  border: 0px;
}