.userShow{
  max-width: 975px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 20px 0;
  margin-top: 80px;

}
.personal{
  display: flex;
  justify-content: center;
  /* margin-bottom: 20px; */
}
.profilePic{
  height: 160px;
  width: 160px;
  margin: auto;
}
.profilePic img{
  border-radius: 50%;
  height: 150px;
  width: 150px;
   left: 50%;
  top: 50%;
 
 
}



.profilePicArea{
  display: flex;
  width: 291px;
  height: 170px;
  margin-right: 30px;
  justify-content: center;
}
.profileStats{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 18px;
  max-width: 100%;
}
.StatWord {
  margin-right: 40px;
}


.name{
  display: inline-block;
  font-weight: 300;
  margin-right: 0;
  font-size: 28px;
  line-height: 32px;
   margin-bottom: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profileBio{
  margin-top: 20px;
  max-width: 402px;
}
.profileBioCaption{
  margin-top: 10px;
}
.Stat {
  display: flex;
  flex-wrap: wrap;
}
.profileBioDetail {
  display: inline;
  font-weight: 600;
  color: #262626;
  font-size: 16px;
  /* margin-bottom: 5px; */
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin-right: 5px;
}
.nopicture{
  width: 684px;
}

.profileInfo {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}
.profileInfo button{
  justify-content: center;
  background-color: transparent;
  border: 1px solid #dbdbdb;
  color: #262626;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  padding: 5px 9px;
  
  margin-left: 20px;
  line-height: 32px;
  text-align: center;
  
}
.profile-posts-div {
  margin-right: auto;
  margin-left: auto;
}

.profile-posts{
  display: flex;
  width: 935px;
  margin-top: 80px;
  min-height: 300px;
  flex-wrap: wrap;

}
.profile-post-link {
  width: 275px;
  height: 275px;
  margin-left: 28px;
  margin-bottom: 28px;
}
/* .post-preview a{
  width: inherit;
  height: 275px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
} */

.modal-test {
  z-index: 2;
  background-color: black;
  opacity: .5;
  height: 100%;
  width: 100%;
  position: absolute;
  top:0px;
  left:0px;
}